name: Playwright Tests

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch: {}

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Exécuter les tests Epic 5 - Contact
        continue-on-error: true
        run: npx playwright test "Epic 5 - Contact" --project=chromium
        
      - name: Exécuter les tests Epic 2 - Annuaire
        continue-on-error: true
        run: npx playwright test "Epic 2 - L'Annuaire" --project=chromium

      - name: Exécuter les tests Epic 3 - Zone sécurisée
        continue-on-error: true
        run: npx playwright test "Epic 3 - Zone sécurisée" --project=chromium
        

      - name: Upload Playwright Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report
          retention-days: 30

      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: test-results
          retention-days: 30
